"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "NicolasGB"
email = "ngou0210@gmail.com"

[signing]
behavior = "own"
backend = "ssh"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEFQqRi3s5soDIL1F3dwtWM6Mw47U4s8INNjz2WFEF70"

[signing.backends.ssh]
program = "/opt/1Password/op-ssh-sign"

[revsets]
# Clean default log - your work + branch context
log = """
  latest(@ |
      ancestors(bookmarks(), 3) |
      ancestors(@, 15) |
      ancestors(trunk() | dev_branch(), 3), 
  30)
  """

[revset-aliases]
'closest_bookmark(to)' = "heads(::to & bookmarks())"
'trunk()' = "present(main)"
'dev_branch()' = "present(develop)"
'recent()' = 'committer_date(after:"1 month ago")'
# All your local branch tips
'all_heads()' = "heads(bookmarks())"
# Feature branches
'feature_branches()' = "bookmarks() ~ (trunk() | dev_branch())"
'current_feature_branch()' = "feature_branches() & ::@"
'other_feature_branches()' = "feature_branches() & ~::@"
'current_branch_history()' = "connected(dev_branch().. current_feature_branch()) | connected(dev_branch()..@)"
'other_branches_summary()' = "ancestors(other_feature_branches(), 4) | descendants(other_feature_branches())"
'context()' = "ancestors(trunk(), 5) | ancestors(dev_branch(), 5)"

[aliases]
# tug: bring nearest bookmark up to recent commit
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@"]
tug- = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
# finish: rebase current feature branch onto dev_branch and update the bookmark
finish = [
  "rebase",
  "-d",
  "dev_branch()",
  "--branch",
  "current_feature_branch()",
]
# retrunk:
# `jj rebase -d 'trunk()'` is shorthand for `jj rebase -b @ -d 'trunk()'`
#
# What that does:
#
# `-b @` rebases the entire branch that the current @ is on relative to the destination. (Default),
# `-d trunk()` sets the destination. trunk() finds the most recent `main | master | trunk` branch thats on a remote. trunk() is builtin.
retrunk = ["rebase", "-d", "trunk()"]
# Log recent
lr = ["log", "-r", "recent()"]
# Edit
e = ["edit"]
# Git init
i = ["git", "init", "--colocate"]
# Create new bookmark
bc = ["bookmark", "create", "-r @"]
# Pull from remote
pull = ["git", "fetch"]
# Push to remote
push = ["git", "push"]
# Rebase
r = ["rebase"]
# Squash
sq = ["squash"]
# Squash interactive
sqi = ["squash", "--interactive"]
# List my branches
mine = ["bookmark", "list", "-r", "mine()"]
# List all branches
branches = ["log", "-r", "heads(all())"]
# log mine
lm = [
  "log",
  "-r",
  "present(@) | ancestors(present(develop) | present(main), 4) | heads(mine() & ~(present(develop) | present(main)))",
]
# Open a pr on github for the current bookmark
pr = ["util", "exec", "--", "sh", "-c", "~/.config/jj/pr-gh.nu"]
# tag
t = ["tag"]
fetch-pr = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  '''
    count=1
    while true; do
        git fetch origin pull/$1/head:pr-$1-$count && break
        ((count++))
    done
    jj git import
''',
  "",
]

[template-aliases]
"format_timestamp(timestamp)" = "timestamp.ago()"
"format_short_id(id)" = "id.shortest()"

[ui]
default-command = "log"
pager = "delta"
# diff-formatter = ":git"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
diff-formatter = ["difft", "--color=always", "$left", "$right"]

[git]
push-new-bookmarks = true
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

[merge-tools.meld]
merge-args = ["$left", "$base", "$right", "-o", "$output", "--auto-merge"]

[colors]
tag = "red"
change_id = "#E69875"  # Everforest orange
"working_copy change_id" = "#D699B6"  # Everforest purple
commit_id = "#0CABA6"
"working_copy commit_id" = "#0CABA6"
timestamp = "green"
git_head = "#DBBC7F"  # Everforest yellow - bright and distinctive
bookmarks = { fg = "#E67E80", bold = true }  # Everforest red with bold for clarity
author = "#7FBBB3"  # Everforest blue-green - softer than bright blue
committer = "#7FBBB3"  # Everforest blue-green - softer than bright blue
"working_copy author" = "#7FBBB3"  # Consistent with author
"working_copy empty description placeholder" = "bright yellow"
"node working_copy" = "bright green"
"elided" = { fg = "#B5A8C0", italic = true }
